<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">

  <h2 class="form-signin-heading">Crear una cuenta</h2>

  <% if(flash && flash.err) { %>
  <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
  </ul>
  <% } %>

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Nombre</div>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="nombre">
      </div>
    </div>
  </fieldset>

  <hr class="hr-normal">

  <fieldset>
    <div class="col-sm-4">
      <div class="box">
        <div class="lead">Sexo</div>
      </div>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div class="form-group">
        <input type="text" class="form-control" name="sexo">
      </div>
    </div>
  </fieldset>


  <div class="form-actions">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-5">
        <input type="submit" class="btn btn-lg btn-success" value="Crear">
      </div>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
